<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="../img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="../css/core-style.css">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <script src="../model/headerExpcetIndex.js"></script>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <script src="../model/rightEceptIndx.js"></script>
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(../img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <a onclick='enCodeUrl("all")'>
                            <h2>书架</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <a onclick='enCodeUrl("all")'>
                                <h6 class="widget-title mb-30">书架</h6>
                            </a>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul  class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#clothing">
                                        <a>文艺</a>
                                        <ul class="sub-menu collapse show">
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("小说")'>小说</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("文学")'>文学</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("传记")'>传记</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("青春文学")'>青春文学</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#clothing">
                                        <a>励志</a>
                                        <ul class="sub-menu collapse show">
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("心灵修养")'>心灵修养</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("人生哲学")'>人生哲学</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("职场")'>职场</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("人际交往")'>人际交往</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("口才")'>口才</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul  class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#clothing">
                                        <a>科技</a>
                                        <ul class="sub-menu collapse show">
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("计算机")'>计算机</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("网络")'>网络</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("科普读物")'>科普读物</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("建筑")'>建筑</a></li>
                                            <li><a href='javascript:void(0);' onclick='enCodeUrl("自然科学")'>自然科学</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p>当前书架共有书籍: <span>186</span>本</p>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        <p>排序:</p>
                                        <form action="#" method="get">
                                            <select name="select" id="sortByselect">
                                                <option value="value">余量</option>
                                                <option value="value">时间</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="bookList">
                        </div>
                    </div>
                    <!-- Pagination -->
                    <nav aria-label="navigation" id="example1_paginate">
                        <ul class="pagination mt-50 mb-70">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">21</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <script src="../model/footer.js"></script>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="../js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="../js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="../js/active.js"></script>
    <script src="../model/init.js"></script>
    <script src="js/shop.js"></script>
</body>

</html>